<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div align="center">Hello</div>
    <div align="center">
        <a href="/login">Login page</a>
        <a href="/problemslist">Problems list</a>
        <a href="/tasks">Tasks list</a>
    </div>
</body>
</html>