<html>

<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
<div align="center">
    <form method="post" action="addTask">
        <input type="text" name="name" placeholder="Enter task">
        <button type="submit">Add</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div align="center">Список задач</div>
{{#tasks}}
    <div align="center">
        <b>{{id}}</b>
        <b>{{name}}</b>
    </div>
{{/tasks}}
<!--<div align="center">-->
    <!--<form method="post" action="filter">-->
        <!--<input type="text" name="filter" placeholder="Enter filter">-->
        <!--<button type="submit">Search</button>-->
    <!--</form>-->
<!--</div>-->



</body>
</html>